.card {
    @extend %container;
    position: relative;
    min-height: 250px;
    justify-content: space-between;
    text-align: left;
    // For the close and edit buttons
    padding-right: calc(50px + #{$site-padding});
}

.card-text {
    width: 100%;
}

.card-name {
    font-weight: bold;
}

.card-value-circle {
    @include flex();
    @include circle(100px);
    border: 5px solid red;
    background-color: white;
    color: red;
    font-size: 12px;
}
.card-value {
    @include flex(column);
}
.card-value-number {
    font-size: 250%;
    font-weight: bold;
    line-height: 100%;
}
