$size: 75px;
$size-mobile: 50px;
$depth: calc(#{$size} * 0.1);
$depth-mobile: calc(#{$size-mobile} * 0.1);

.circle-button {
    position: relative;
    @include circle(calc(#{$size} + #{$depth}));
    @include mobile {
        @include circle(calc(#{$size-mobile} + #{$depth-mobile}));
    }
}

.circle-button-surface {
    display: none;
    @include flex();
    flex-shrink: 0;
    @include circle($size);
    @extend %top-left;
    z-index: 1;
    background-color: green;
    color: white;
    font-size: 30px;
    @include mobile {
        @include circle($size-mobile);
    }
}

$extension: calc(#{$depth} * 1.214);
$extension-mobile: calc(#{$depth-mobile} * 1.214);

.circle-button-depth {
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    @include circle($size);
    width: calc(#{$size} + #{$extension});
    transform-origin: calc(50% + calc(#{$extension} / 2)) 50%;
    transform: rotate(45deg);
    background-color: darken(green, 10%);
    @include mobile {
        @include circle($size-mobile);
        width: calc(#{$size-mobile} + #{$extension-mobile});
        transform-origin: calc(50% + calc(#{$extension-mobile} / 2)) 50%;
    }
}

$hover-reduction: calc(#{$depth} / 5);
$hover-reduction-mobile: calc(#{$depth-mobile} / 5);

.circle-button:hover {
    .circle-button-surface {
        cursor: pointer;
        background-color: lighten(green, 5%);
        top: $hover-reduction;
        left: $hover-reduction;
        @include mobile {
            top: $hover-reduction-mobile;
            left: $hover-reduction-mobile;
        }
    }
}

$active-reduction: calc(#{$depth} / 2);
$active-reduction-mobile: calc(#{$depth-mobile} / 2);

.circle-button:active {
    .circle-button-surface {
        top: $active-reduction;
        left: $active-reduction;
        @include mobile {
            top: $active-reduction-mobile;
            left: $active-reduction-mobile;
        }
    }
    .circle-button-depth {
        transform: none;
        width: $size;
        @include mobile {
            width: $size-mobile;
        }
    }
}
