.modal {
    @extend %top-left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #eeeeee80;
    overflow-y: auto;
}
.modal-inner {
    @extend %container;
    padding-top: 10px;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

.modal-title {
    font-size: 150%;
    // So that the close button doesn't overlap.
    width: calc(100% - 50px);
    text-align: left;
}

.modal-body {
    width: 100%;
    @include flex(column, space-between, center);
}
.modal-inner.large .modal-body {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
}

.modal-body-text {
    margin: $site-padding 0;
}
