@font-face {
    font-family: "AnonymousPro";
    src: url("../assets/fonts/AnonymousPro-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "AnonymousPro";
    src: url("../assets/fonts/AnonymousPro-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "AnonymousPro";
    src: url("../assets/fonts/AnonymousPro-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "AnonymousPro";
    src: url("../assets/fonts/AnonymousPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@import "base/variables";
@import "base/mixins";
@import "base/override-browser-defaults";
@import "base/flex";
@import "base/misc";
@import "base/accessories";

@import "base/placeholders/container";
@import "base/placeholders/rectangle";

@import "components/form";
@import "components/switch-button";
@import "components/card";
@import "components/circle-button";
@import "components/hud";
@import "components/hoard";
@import "components/modal";
