%container {
    @include flex(column, center, flex-start);

    margin: auto;
    padding: $site-padding;
    border: $container-border-width solid black;
    background-color: white;
    width: 400px;
    max-width: 100%;
    &:not(:last-child) {
        margin-bottom: $site-padding;
    }
    &.large {
        width: 870px;
    }
}
.container {
    @extend %container;
}
