.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.w-100 {
    width: 100%;
}
.bold {
    font-weight: bold;
}
.look-a-link {
    text-decoration: underline;
    font-size: 14px;
    &:hover {
        cursor:pointer;
    }
}